<% if signed_in? %>
  <div class="row">
    <aside class="span8">
     <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= render 'shared/add_video' %>
      </section>
    </aside>
    <div class="span4">
      <h3>Random Thoughts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="container-fluid">
    <div class="row-fluid center">
    <%= gravatar_main %><br>
    <h1>Find Me Online</h1>
    </div>
  <div class="row-fluid center">
    <div class="span12">
        <div class="well button">
        <a href="https://github.com/AnthonyBRoberts" target="_blank"><h4>Github</h4><br>
            <%= image_tag "GitHub-Mark-64px.png" %></a>
          </div>
          <div class="well button">
        <a href="http://stackoverflow.com/users/1319434/anthony-roberts" target="_blank"><h4>Stack Overflow</h4><br>
          <%= image_tag "so-icon.png" %></a>
        </div>
          <div class="well button">
        <a href="https://www.linkedin.com/in/anthonyroberts" target="_blank"><h4>LinkedIn</h4><br>
        <%= image_tag "InBug-60px-R.png" %></a>
      </div>
    </div>
  </div>
	</div>
<% end %>