<footer class="footer">
  <small>
    
    <a href="http://stackoverflow.com/users/1319434/anthony-roberts" target="_blank"><%= image_tag "so-icon.png" %></a>
    <a href="https://github.com/AnthonyBRoberts" target="_blank"><%= image_tag "GitHub-Mark-64px.png" %></a>
    <a href="https://www.linkedin.com/in/anthonyroberts" target="_blank"><%= image_tag "InBug-60px-R.png" %></a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Videos",   videos_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>